.fl
	- if current_user.user_profile.user_images.where(:is_profile_picture => true).empty?
		= image_tag "dashboard/no_man.jpg", :alt => "defaultPicture"
	- else
		= image_tag current_user.user_profile.user_images.where(:is_profile_picture => true).first.picture.url(:large), :alt => "userPicture", :id => 'profile-picture'
#userPerformances.fl
	#userPoints
		= current_user[:id]
	%p
		- if current_user.user_profile[:name].blank?
			Hi !
		- else
			= "Hi, #{current_user.user_profile[:name]}"
	= image_tag "dashboard/userMedals.jpg", :id => "medals", :alt => "userMedals"
= image_tag "dashboard/healthMetterButton.jpg", :class => "fl", :alt => "healthMetterButton", :id => "healthMeter"
= image_tag "dashboard/goalMeterButton.jpg", :class => "fl", :alt => "goalMeterButton", :id => "goalMeter"
