#load

	%ul#man.person
		- BodyPart.all.each do |part|
			%li{:style => "top: #{part.y}px; left: #{part.x}px", :name => part.name}= link_to '', part.name
			
	#parts
		- @user_goals.group_by(&:body_part).each do |part, goals|
			- next if part.nil?
			%div{:name => part.name, :class => 'body-part-form'}
				%h3= part.name
				= form_tag(user_goals_path, :remote => true, :id => "edit_#{part.name.to_slug.downcase}", :method => :put) do
					- goals.each do |goal|
						= render :partial => "user_goals/forms/goal_form", :locals => {:goal => goal}
					= submit_tag 'Update'
