- content_for :head do
	= stylesheet_link_tag 'http://fonts.googleapis.com/css?family=Waiting+for+the+Sunrise'


- content_for :foot do
	= javascript_include_tag 'flowplayer'

- content_for :main_content do
	#landing-page
	
		#landing-top
			
			#left-col
			
				%h1
					Bluey, is a new platform for fitness, health, nutrition, supplement, athlete and sports performance management. Give it a try, registration is free!  
				
				= link_to '', '/videos/bluey.flv', :id => 'video'
				:javascript
					$(document).ready(function() {
						$f('video', {src: '/videos/flowplayer-3.2.7.swf', wmode: 'transparent'});
					});
			#right-col
				#blue_logo
					= image_tag 'landing-page/Blue-logo.png', :size =>"200x200"
				#signup-logo
					= link_to image_tag("landing-page/signup-btn.png", :size => "288x102", :alt => ""), new_user_registration_path, :id => 'sign-up', :class => 'dialog', :title => 'Sign Up', :name => "Sign up"
		
		#landing-bottom
		
			#bottom-wrapper
				#right-logos.fr
					#follow-us-logos.fl
						%span= image_tag("landing-page/followus.png", :alt => "")
						%br
						= link_to image_tag("landing-page/twitter.png", :size => "64x64", :alt => ""), "http://www.twitter.com/blueyfit"
						= link_to image_tag("landing-page/facebook.png", :size => "64x64", :alt => ""), "http://www.facebook.com/blueyfit"
				
					#login-logo.fl
						%span= image_tag("landing-page/loginText.png", :alt => "")
						%br
						= link_to image_tag("landing-page/login.png", :size => "64x64", :alt => ""), new_user_session_path, :id => 'sign-in', :class => 'dialog', :title => 'Sign In'
				
				#left-twitter-updates.fl
					#twtr-search-widget{:style => "display:visible;"}
						:javascript
							$(document).ready(function() {
								new TWTR.Widget({
									search: 'blueyfit',
									id: 'twtr-search-widget',
									loop: true,
									width: 720,
									height: 100,
									theme: {
										shell: {
											background: 'transparent',
											color: '#000000'
										},
										tweets: {
											background: 'transparent',
											color: '#ffffff',
											links: '#f59f00'
										}
									}
								}).render().start();
							});
