- content_for :head do
	= stylesheet_link_tag 'http://fonts.googleapis.com/css?family=Waiting+for+the+Sunrise'


- content_for :foot do
	= javascript_include_tag 'flowplayer'

- content_for :main_content do
	#unsupported_content
		%p.big Unsupported Web Browser!
		%p The Bluey Health & Fitness site should run well on the latest versions of the following web browsers:
		%ul#browser_list
			%li
				.icon
					%a{:href=>"http://www.google.com/chrome", :title=>"Download Chrome 10"}
						%img{:src=>"/assets/browsers/browser_chrome.png"}
				.link
					%p
						Chrome
						%br
						10 and over

			%li
				.icon
					%a{:href=>"http://firefox.com", :title=>"Download Firefox 6"}
						%img{:src=>"/assets/browsers/browser_firefox.png"}
				.link
					%p
						Firefox
						%br
						5 and over

			%li
				.icon
					%a{:href=>"http://apple.com/safari/download", :title=>"Download Safari 5"}
						%img{:src=>"/assets/browsers/browser_safari.png"}
				.link
					%p
						Safari
						%br
						5 and over

			%li
				.icon
					%a{:href=>"http://windows.microsoft.com/en-US/internet-explorer/download/ie-9/worldwide", :title=>"Internet Explorer 9"}
						%img{:src=>"/assets/browsers/browser_ie7.png"}
				.link
					%p
						Internet Explorer
						%br
						9

		%p.clear
			%span You are welcome to continue using your current web browser,
			%br
			%span but you may experience display issues or other difficulties.				

		= form_tag continue_path do
			.buttons
				= submit_tag "Continue Anyway"
				= check_box_tag :show_unsupported_browser_notice_message, 'yes', false
				%span Don't show me this message again
