- content_for :top_menu do
	%ul
		%li{:style => "margin: 0 5px 0 0;"}= link_to image_tag("user_profile/aboutButton.jpg", :alt => "about"), "#"
		%li{:style => "margin: 0 5px 0 0;"}= link_to image_tag("user_profile/goalsButton.jpg", :alt => "goals"), "#"
		%li{:style => "margin: 0 5px 0 0;"}= link_to image_tag("user_profile/symptomsButton.jpg", :alt => "symptoms"), "#"
		%li{:style => "margin: 0"}= link_to image_tag("user_profile/picturesButton.jpg", :alt => "pictures"), "#"

- content_for :bottom_menu do
	= render :partial => "shared/dashboard_menu"

- content_for :bottom_content_bar do
	= render :partial => "shared/user_profile_bar"
										
- content_for :bottom_content do
	= render :partial => "user_profiles/forms/about_form"
