- content_for :top_menu do
	%ul#user-tabs
		%li.selected= link_to image_tag("user_profile/aboutButton.jpg", :alt => "about"), '', :name => 'foundation'
		%li= link_to image_tag("user_profile/goalsButton.jpg", :alt => "goals"), user_goals_path
		%li= link_to image_tag("user_profile/symptomsButton.jpg", :alt => "symptoms"), '', :name => 'symptoms'
		%li{:style => "margins: 0;"}= link_to image_tag("user_profile/picturesButton.jpg", :alt => "pictures"), user_images_path, :name => 'pictures'

- content_for :bottom_menu do
	= render :partial => "shared/dashboard_menu"

- content_for :bottom_content_bar do
	#bottom_content_bar.user_profile
		= render :partial => "shared/user_profile_bar"
										
- content_for :bottom_content do
	#user_forms
		#foundation.user-form
			%h2 About
			= form_for @user_profile, :as => :user_profile, :url => profile_path, :html => {:method => :put} do |f|
	
				= render 'shared/form_errors', :object => @user_profile
		
				#foundation_left
		
					= field_set_tag  do
						.label_side{:style => "height: 135px; margin-top: 5px;"}
							%span.strong * I am:
							%em.hint 
								select all that apply
						%ul#who_i_am{:style => "display: block; width: 200px; float:left; margin-top: 0px;"}
							- for user_type in UserType.all
								%li
									= check_box_tag "user_profile[user_type_ids][]", user_type.id, @user_profile.user_types.include?(user_type), :id => "user_type_id_#{user_type.id}"
									= label_tag "user_type_id_#{user_type.id}", user_type.name
						
					= field_set_tag  do
						.label_side{:style => "height: 170px; margin-top: 5px;"}
							%span.strong * I want to:
							%em.hint select all that apply
						%ul#what_i_want{:style => "display: block; width: 200px;  float:left; margin-top: 0px;"}
							- for user_want in UserWant.all
								%li
									= check_box_tag "user_profile[user_want_ids][]", user_want.id, @user_profile.user_wants.include?(user_want), :id => "user_want_id_#{user_want.id}"
									= label_tag "user_want_id_#{user_want.id}", user_want.name
					
					= field_set_tag  do
			
						.label_side{:style => "height: 40px; margin-top: 5px;"}
							%p.strong * Where I live:
						.input_side.styled-select{:style => "width: 200px; color: #aaa"}
							= f.country_select :country, nil, :prompt => "Click & Select a country"
						.clear
				
						.label_side{:style => "width: 190px; height: 30px;  margin-top: 5px;"}
							%p.strong * City
						.input_side{:style => "width: 258px;"}
							= f.text_field :city, :style => "width: 250px;", :placeholder => "Enter your city…"

					.clear
					= field_set_tag  do
						.label_side{:style => "height: 40px;  margin-top: 5px; "}
							%p.strong * Birthday:
						.input_side.styled-select{:style => "width: 230px;"}
							= f.date_select :dob, :order => [:day, :month, :year], :use_month_numbers => true, :start_year => Time.now.year - 70

				#foundation_right
		
					= field_set_tag  do
						.label_side{:style => "width: 150px;  height: 40px;  margin-top: 5px;"}
							%p.strong Username
						.input_side
							= f.text_field :name, :placeholder => "Enter a username …"
						.clear
						.label_side{:style => "width: 150px;  height: 112px;  margin-top: 5px;"}
							%p.strong Your summary
						.input_side
							= f.text_area :summary, :style => "height: 88px;", :placeholder => "Enter a short summary about yourself…"
						.clear			
						.label_side{:style => "width: 150px;  height: 40px;  margin-top: 5px;"}
							%p.strong Gym
						.input_side
							= f.text_field :gym, :placeholder => "Enter your favorite gym center…"
						.clear
							.label_side{:style => "width: 150px;  height: 123px;  margin-top: 5px;"}
								%p.strong Sports
							.input_side
								= f.text_area :sports, :style => "height: 100px;", :placeholder => "Enter your favorite sports…"
						.clear
							.label_side{:style => "width: 150px; height: 145px; margin-top: 5px;"}
								%p.strong Favourite brands
							.input_side
								= f.text_area :brands, :placeholder => "Enter your favorite brands…"
					
				#fondation_bottom.clear
					%p= f.submit 'Save'		
		
		#loaded-form.user-form
		
		#symptoms.user-form
			%h2 Pain Areas
			= form_for @user_profile, :url => "/profile", :html => { :id => 'edit-symptoms' } do |f|
				= render 'shared/form_errors', :object => @user_profile
				
				= field_set_tag do
					.label_side.fl{:style => "height: 135px; margin-top: 5px;  text-align:right; width: 165px;"}
						%span.strong Pain area:
					
					%ul#pain_area.fl{:style => "display: block; width: 200px; float:left; margin-top: 0px;"}
						- BodyPart.all.each do |part|
							%li
								= check_box_tag "user_profile[body_part_ids][]", part.id, @user_profile.body_parts.include?(part), :id => "user_pain_id_#{part.id}"
								= label_tag "user_pain_id_#{part.id}", part.name
				= field_set_tag  do
					.label_side.fl{:style => "height: 135px; margin-top: 5px; text-align:right;"}
						%p.strong Describe your symptoms:
					.input_side
						= f.text_area :symptoms
				%p{:style => "padding-left: 185px;"}
					= f.submit 'Save'