- content_for :top_menu do
	%ul
		%li= link_to image_tag("dashboard/exercise.png", :alt => "Exercise Plans"), exercises_plans_path
		%li= link_to image_tag("dashboard/nutrition.png", :alt => "Nutrition Plans"), nutritions_plans_path
		%li= link_to image_tag("dashboard/supplement.png", :alt => "Supplement Plans"), "#"
		%li= link_to image_tag("dashboard/health.png", :alt => "Health"), "#"

- content_for :bottom_menu do
	%ul
		%li.active= link_to "Plans", dashboard_path
		%li= link_to "Fit Bar", not_yet_implemented_path, :class => "dialog", :title => "Fit Bar", :width => "520"
		%li= link_to "Challenges", not_yet_implemented_path, :class => "dialog", :title => "Challenges", :width => "520"
		%li= link_to "Financial", not_yet_implemented_path, :class => "dialog", :title => "Financials", :width => "520"
		%li= link_to "Profile", profile_edit_path, :name => 'profile'

