%li.plan{:id => "plan_#{plan[:id]}"}
	= image_tag "#{plan.plan_type[:image_path]}", :alt => "#{plan.plan_type[:name]}"
	%p.task= truncate(plan[:name], :length => 14)
	%p.day= I18n.t(:day, :count => plan.days.count)
	%p{:style => "line-height: 22px;"}
		= image_tag "dashboard/avatar.png", :alt => "avatar"
		= plan.creator.user_profile[:name]
	%p
		= image_tag "dashboard/calendar.png", :alt => "calendar", :align => "top"
		%small= "#{I18n.l(plan[:created_at].to_date, :format => :long)}"

	= render :partial => "plan_action_bar", :locals => {:plan => plan }