- content_for :main_content do
	#containerWrapper
		#container
			#topBar
				#leftTopBar.fl
					.fl= image_tag "dashboard/userPicture.jpg", :alt => "userPicture"
					#userPerformances.fl
						#userPoints
							320
						%p
							Hi, Steve!
						= image_tag "dashboard/userMedals.jpg", :id => "medals", :alt => "userMedals"
					= image_tag "dashboard/healthMetterButton.jpg", :class => "fl", :alt => "healthMetterButton"
					= image_tag "dashboard/goalMeterButton.jpg", :class => "fl", :alt => "goalMeterButton"

				#rightTopBar.fr
					#topMenu
						%ul
							%li= link_to image_tag("dashboard/weightButton.jpg", :alt => "weightButton"), "#"
							%li= link_to image_tag("dashboard/appleButton.jpg", :alt => "appleButton"), "#"
							%li= link_to image_tag("dashboard/pillsButton.jpg", :alt => "pillsButton"), "#"
							%li= link_to image_tag("dashboard/heartButton.jpg", :alt => "heartButton"), "#"

						#powerButton.fr
							%p= link_to image_tag("dashboard/powerButton.png", :alt => "powerButton"), "#"

					#bottomMenu
						= render :partial => "/shared/dashboard_menu"

			#navBar
				%ul.fl
					%li{:class => "#{'active' if @plan_type == 0}"}= link_to "All", plans_path
					%li{:class => "#{'active' if @plan_type == 1}"}= link_to "Exercise", exercises_path
					%li{:class => "#{'active' if @plan_type == 2}"}= link_to "Nutrition", nutritions_path
					%li{:class => "#{'active' if @plan_type == 3}"}= link_to "Supplement", supplements_path
					%li{:class => "#{'active' if @plan_type == 4}"}= link_to "Health", healths_path
				= form_for :query , :url => "#", :html => {:id => "searchForm", :class => "fr" } do |f|
					= f.text_field :search_string
					= f.submit "Search"
				
			#contentWrapper{:style => "position:relative;"}
				%h2 Available Plans
				#contentBar
					%ul.fl
						%li
							= link_to "+ Add Plan", "#fancy_new_plan_form" , :class => "fancybox"
							= render :partial => "new_plan"
					#addPlanText.fl
						%p
							%b Available plans are listed below
						%p.small To add new plan click the link on the left

				#plan-content{:style => "z-index: 0;"}
					- unless @plans.count > 0
						= render :partial => "no_plan"
					- else
						%ul
							= render :partial => "plan", :collection => @plans


