- content_for :bottom_content do
	#load
		%h2 Goals
		%ul#man.person
			- BodyPart.all.each do |part|
				%li{:style => "#{bodypart_line_style(part)}", :name => part.name}
					= link_to '', "#", :id => "#{part.name}"
			
		#parts
			- @user_goals.group_by(&:body_part).each do |part, goals|
				- next if part.nil?
				%div{:name => part.name, :class => 'body-part-form'}
					.body-part-form-header
						%h3= part.name
					.body-part-form-content{:style => "padding: 5px;"}
						= form_tag(user_goals_path, :remote => true, :id => "edit_#{part.name.to_slug.downcase}", :method => :put) do
							- goals.each do |goal|
								.goal
									= render :partial => "user_goals/goal_form", :locals => {:goal => goal}
							
							= submit_tag 'Update'


