- content_for :top_menu do
	%ul#user-tabs
		%li{:style => "margin: 0 5px 0 0;"}= link_to image_tag("user_profile/aboutButton.jpg", :alt => "about"), profile_edit_path
		%li{:style => "margin: 0 5px 0 0;"}= link_to image_tag("user_profile/goalsButton.jpg", :alt => "goals"), user_goals_path
		%li{:style => "margin: 0 5px 0 0;"}= link_to image_tag("user_profile/symptomsButton.jpg", :alt => "symptoms"), "#"
		%li{:style => "margin: 0"}= link_to image_tag("user_profile/picturesButton.jpg", :alt => "pictures"), "#"

- content_for :bottom_menu do
	= render :partial => "shared/dashboard_menu"

- content_for :bottom_content_bar do
	#bottom_content_bar.user_profile
		= render :partial => "shared/user_profile_bar"
										
- content_for :bottom_content do
	= render :partial => "user_goals/forms/goals_form"


