!!!
%html
	%head
		%title Bluey Health & Fitness
		%link{:rel => 'shortcut icon', :href=>"/favicon.ico"}
		= yield :head
		= stylesheet_link_tag 'application', :media => 'screen, projection'
		/[if IE]
			= stylesheet_link_tag 'ie.css', :media => 'screen, projection'
		= javascript_include_tag 'application', :debug => Rails.env.development? 
		/[if lt IE 9]
			= javascript_include_tag 'http://html5shiv.googlecode.com/svn/trunk/html5.js'
			= javascript_include_tag 'ie' 
		= csrf_meta_tag
		:javascript
			var _gaq = _gaq || [];
			_gaq.push(['_setAccount', 'UA-3494982-5']);
			_gaq.push(['_trackPageview']);
			(function() {
				var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
				ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
				var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
			})();
	%body
		#notifications
			- if flash[:alert]
				#alert= alert
			- if flash[:notice]
				#notice= notice

		#wrapper
			- if content_for?(:main_content)
				= yield :main_content
			- else
				#containerWrapper
					#container
						#topBar
							#leftTopBar.fl
								= render :partial => "shared/left_top_bar"

							#rightTopBar.fr
								#topMenu
									= yield :top_menu
									#powerButton.fr
										%p= link_to image_tag("dashboard/powerButton.png", :alt => "powerButton"), destroy_user_session_path
								#bottomMenu
									= yield :bottom_menu
									
						- if content_for?(:bottom_content_bar)			
							= yield :bottom_content_bar
							
						#bottom_content
							= yield :bottom_content
		= yield :foot
		= raw(yield :extra_js)

