!!!
%html
	%head
		%title Bluey Health & Fitness
		%link{:rel => 'shortcut icon', :href=>"/favicon.ico"}
		= yield :head
		= stylesheet_link_tag 'application', :media => 'screen, projection'
		/[if IE]
			= stylesheet_link_tag 'ie.css', :media => 'screen, projection'
		= javascript_include_tag 'application', :debug => Rails.env.development? 
		/[if lt IE 9]
			= javascript_include_tag 'http://html5shiv.googlecode.com/svn/trunk/html5.js'
			= javascript_include_tag 'ie' 
		= csrf_meta_tag
		:javascript
			var _gaq = _gaq || [];
			_gaq.push(['_setAccount', 'UA-3494982-5']);
			_gaq.push(['_trackPageview']);
			(function() {
				var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
				ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
				var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
			})();
	%body
		#wrapper
			#landing-page

				#landing-top
		
					#left-col
		
						%h1
							Bluey, is a new platform for fitness, health, nutrition, supplement, athlete and sports performance management. Give it a try, registration is free!  
			
						#unsupported_wrapper
							= yield :main_content
						
					#right-col
						#blue_logo
							= image_tag 'landing-page/Blue-logo.png', :size =>"200x200"
						#signup-logo
							= image_tag("landing-page/signup-btn.png", :size => "288x102", :alt => "")
	
				#landing-bottom
	
					#bottom-wrapper
						#right-logos.fr
							#follow-us-logos.fl
								%span= image_tag("landing-page/followus.png", :alt => "")
								%br
								= link_to image_tag("landing-page/twitter.png", :size => "64x64", :alt => ""), "http://www.twitter.com/blueyfit"
								= link_to image_tag("landing-page/facebook.png", :size => "64x64", :alt => ""), "http://www.facebook.com/blueyfit"
			
							#login-logo.fl 
								%span= image_tag("landing-page/loginText.png", :alt => "")
								%br
								= image_tag("landing-page/login.png", :size => "64x64", :alt => "")
			
						#left-twitter-updates.fl
							#twtr-search-widget{:style => "display:visible;"}
								:javascript
									$(document).ready(function() {
										new TWTR.Widget({
											search: 'blueyfit',
											id: 'twtr-search-widget',
											loop: true,
											width: 720,
											height: 100,
											theme: {
												shell: {
													background: '#111',
													color: '#000000'
												},
												tweets: {
													background: '#000000',
													color: '#ffffff',
													links: '#f59f00'
												}
											}
										}).render().start();
									});
