!!!
%html
	%head
		%title Bluey Health & Fitness
		%link{:rel => 'shortcut icon', :href=>"/favicon.ico"}
		= yield :head
		= stylesheet_link_tag 'application', :media => 'screen, projection'
		/[if IE]
			= stylesheet_link_tag 'ie.css', :media => 'screen, projection'
		= javascript_include_tag 'application', :debug => Rails.env.development? 
		/[if lt IE 9]
			= javascript_include_tag 'http://html5shiv.googlecode.com/svn/trunk/html5.js'
			= javascript_include_tag 'ie' 
		= csrf_meta_tag
		:javascript
			var _gaq = _gaq || [];
			_gaq.push(['_setAccount', 'UA-3494982-5']);
			_gaq.push(['_trackPageview']);
			(function() {
				var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
				ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
				var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
			})();
	%body
		#wrapper
			#landing-page{:style => "min-height: 800px;"}

				#landing-top{:style => "height: 650px;"}
		
					#left-col{:style => "width:600px;"}
		
						%h1
							Bluey, is a new platform for fitness, health, nutrition, supplement, athlete and sports performance management. Give it a try, registration is free!  
			
						#unsupported_wrapper
							= yield :main_content
						
					#right-col
						#blue_logo{:style => "margin-top: 30px;"}
							= image_tag 'landing-page/Blue-logo.png', :size =>"200x200"
						#signup-logo{:style => "margin-top: 120px;"}
							= image_tag("landing-page/signup-btn.png", :size => "288x102", :alt => "")
	
				#landing-bottom
	
					#bottom-wrapper{:style => " text-align: center; margin: 0 auto; padding-top: 80px;"}
						#right-logos.fr{:style => "width: 450px; border: solid 1px transparent; color: white; font-weight: bold;"}
							#follow-us-logos.fl{:style => "width: 300px; border: solid 1px transparent; text-align: right;"}
								%span{:style => "margin-right: 30px;"}= image_tag("landing-page/followus.png", :alt => "")
								%br
								= link_to image_tag("landing-page/twitter.png", :size => "64x64", :alt => ""), "http://www.twitter.com/blueyfit"
								= link_to image_tag("landing-page/facebook.png", :size => "64x64", :alt => ""), "http://www.facebook.com/blueyfit"
			
							#login-logo.fl{:style => "width: 70px; border: solid 1px transparent; text-align: right;"} 
								%span{:style => "margin-right: 10px;"}= image_tag("landing-page/loginText.png", :alt => "")
								%br
								= image_tag("landing-page/login.png", :size => "64x64", :alt => "")
			
						#left-twitter-updates.fl
							%p{:style => "margin: 30px 0 0 30px; display:none;"} TWITTER UPDATES


